:local {
  .post {
    background: #e8eef7;
    height: 370px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    width: 360px;
  }

  .post:not(:last-child) {
    margin-right: 20px;
  }

  .postTitle {
    margin-bottom: 20px;
  }

  .postText {
    margin-bottom: 40px;
  }

  .postImage {
    height: 50%;
  }

  .postCategory {
    bottom: 20px;
    left: 20px;
    position: absolute;
  }
}
